<link type="text/css" href="//cdn:3006/login/styles.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <form class="log-login col-xs-12 col-md-4" action="/login" method="post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username">E-Mail</label>
                        <input class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" type="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>