{
  "endpoints": {
    "header": "http://general:3003/header",
    "footer": "http://general:3003/footer",
    "register": "http://legacy:3004",
    "catalog": "http://catalog:3005/catalog"
  },
  "resources": {
    "styles": ["//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", "//cdn:3006/base.css"],
    "scripts": ["//code.jquery.com/jquery-2.1.4.min.js", "//cdn:3006/base.js"]
  }
}