{
  "middleware": {
    "paths": ["../../koa-router/middleware"],
    "enabled": [
      "cookie"
    ],
    "proxy": ["location", "set-cookie", "expires", "cache-control"],
    "cookie": [
      {
        "from": "x-user-id",
        "to": "session"
      }
    ]
  }
}